@font-face {
    font-family: "ATOFont";
    src: url("fonts/Prociono-Regular.otf") format('opentype');
}

#logoContainer {
	padding:10px;
}

.socialMediaIcon {
	width:35px;
	height:35px;
}

#ATOLogo {
	width:250px;
	padding-bottom:25px;
}

#navbarItems {
    color: white;
    font-size:20px;
}

#nationalsHeader {
	text-align:center;
	color:#FFB038;
}

#CMUAlumHeader {
	padding-top:200px;
	text-align:center;
	color:#FFB038;
}

.contactForm {
	margin:50px;
}

#formDiv {
	margin-left:5%;
	margin-right:5%;
}

#contactTitle {
	color:#FFB038;
}

#nameAddon,#emailAddon,#submitButton {
	background-color:#011328;
	color:white;
	border-style:none;
}

#homeSelect,#brothersSelect,#alumniSelect,#aboutSelect,#contactSelect {
	color: white;
}

#contactDiv {
	background-color:#4A90E2;
	padding-top:30px;
	padding-bottom:45px;
	margin: auto auto;
	margin-top:10%;
	max-width: 400px;
	border-radius:25px;
	box-shadow: inset 0px 1px 5px black;
}

#contactPage {
	color:white;
	background-color:#011328;
	margin-top:-20px;
	padding-bottom:250px;
	text-align:center;
}

#alumniHeader {
	color:#FFB038;
	text-align:center;
}

#alumniDiv {
	margin-left:20%;
	margin-right:20%;
}

#brotherWeekSection {
}

#alumniPage {
	color:white;
	background-color:#011328;
	margin-top:-20px;
}

#brotherWeekHeader {
	color:#4A90E2;
	text-align:center;
	padding-top:15px;
}

#brotherWeekImage {
	margin-left:20%;
	margin-right:20%;
	border-radius:5px;
}

#brotherWeekTitle {
	text-align:center;
	padding-top:15px;
}

html {
	font-family: "ATOFont";
	background-color: white;
}

#titleDiv {
	text-align: left;
	margin-top:25px;
}

#CMUTitle {
	color:white;
}
#logoContainer {
	background-color: white;
	border-bottom-left-radius: 5px;
}

#CMU {
/*	color: #F8E71C;
	background-color: #3AA0FF;*/
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	padding: 5px;
	margin-right: 0px;
}

#photosDiv {
	background-color: #132438;
	margin:0px;
	padding-top:0px;
	margin-top:-20px;
	box-shadow: 0px 1px 5px;
	padding:25px;
}

#officersHeader {
	text-align:center;
	color:#FFB038;
}

#membersHeader {
	padding-top:200px;
	text-align:center;
	color:#FFB038;
}

#brothersPage {
	box-shadow: 0px 1px 5px;
	background-color:#011328;
	margin-top:-20px;
	overflow:scroll;
	text-align:center;
	color:white;
}

#brothersList {
	margin-left:20%;
	margin-right:20%;
}

.memberDiv {
	color:white;
}

#ATO {
	margin-left: 0px;
/*	color: #3AA0FF;*/
/*	background-color: #F8E71C;*/
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	padding: 5px;
}

.memberDiv {
	margin-bottom:20px;
}

#subtitle { 
	margin-top: 10px;
	color: #3AA0FF;
}

.thumbnail {
	border:none;
}

a.thumbnail.brotherThumbnail {
	background-color:transparent;
}

#title {
	margin-bottom: 0px;
}

#pageSelectionSidebar li a{
	font-size: 30px;
	color: #3AA0FF;

}

#pageSelectionSidebar li a:hover{
	font-size: 30px;
	color: #3AA0FF;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	background-color: #F8E71C;

}

#aboutSection {
	box-shadow: inset 0px -1px 5px #000;
	color:white;
	height:500px;
	overflow: scroll;
	background-color:#4A90E2;
}

.aboutSectionHeader {
	margin-left:40px;
	margin-right:40px;
	padding-top:15px;
}

.aboutSectionText {
	margin-left:40px;
	margin-right:40px;
}

#ATONav {
	background-color: #4A90E2;
	box-shadow: inset 0px 1px 5px;
	margin-top:10px;
	border:none;
	border-radius:0px;
}

#memberDiv {

}

img.brotherImage {
	border-radius: 50%;
}

#footer {
	background-color:#4A90E2;
	height:40px;
	text-align:center;
	padding-top:10px;
	color:white;
}

a.thumbnail.brotherThumbnail {
	border:none;
	width:125px;
	height:125px;
}

#navbarCollapse {
	color:white;
}

#eventsListCol {
	height:500px;
	text-align: center;
	background:transparent;
}

#upcomingTitle {
	background:transparent;
	font-size:25px;
	color:#4A90E2;
}

#eventlist {
	
	list-style-type:none;
	max-height:450px;
	display: inline-block;
	overflow: scroll;
	color:#4A90E2;
	width:100%;
}

.eventtitle {
	font-weight: bold;
	font-size:150%;
	padding-bottom:5px;
	margin-left:16px;
}

.eventdate {
	margin-left:16px;
}

.aboutPageSection {
	box-shadow: inset 0px 1px 4px black;
	height:350px;
	background-color:#4A90E2;
	padding-top:30px
}

#aboutHeader {
	text-align:center;
	color:#FFB038;
}

#aboutPage {
	color:white;
	background-color:#011328;
	margin-top:-20px;
	height:1200px;
}

.location {
	margin-left:16px;
}

.description {
	margin-left:16px;
}

#navbarSide {
	padding: 2px;
	border-radius: 5px;
	background-color: white;
}


.kinetic-slider-container {
  position: relative;
  width: 100%;
/*  height: 400px;*/
  z-index: 1;
  overflow: hidden; }
  @media all and (max-width: 10000px) {
    .kinetic-slider-container {
      height: 310px; } }
  @media all and (max-width: 600px) {
    .kinetic-slider-container {
      height: 210px; } }

.kinetic-slider-content {
  position: absolute;
  z-index: 1;
  width: 100%; }
  .kinetic-slider-content a {
    position: relative;
    display: block;
    float: left;
    width: 390px;
/*    height: 390px;*/
    padding: 5px;
    overflow: hidden; }
    .kinetic-slider-content a img {
      height: 100%; }
    @media all and (max-width: 10000px) {
      .kinetic-slider-content a {
        width: 300px;
        height: 300px; } }
    @media all and (max-width: 600px) {
      .kinetic-slider-content a {
        width: 200px;
        height: 200px; } }