<div class="col-xs-12" id="alumniPage">
    <h2 id="alumniHeader">Alumni</h2>
    <div id="alumniDiv">
        <h2 id="nationalsHeader">Notable Nationals</h2>
        <br>
        <div id="nationalAlums">
            <div ng-repeat="alum in alumni">
                <brother-image brother-obj="alum"></brother-image>
            </div>
        </div>
        <h2 id="CMUAlumHeader">Carnegie Mellon</h2>
        <br>
        <div id="CMUAlums">
            <div ng-repeat="alum in alumni">
                <brother-image brother-obj="alum"></brother-image>
            </div>
        </div>
    </div>
</div>