<div class="col-xs-12" id="brothersPage">
    <div id="brothersList">
        <h2 id="officersHeader">The Officers</h2>
        <br>
        <div id="officersList">
            <div class="col-xs-12">
            <div ng-repeat="brother in brothers">
                <brother-image brother-obj="brother"></brother-image>
            </div>
            </div>
        </div>
        <h2 id="membersHeader">General Members</h2>
        <br>
        <div id="membersList">
            <div class="col-xs-12">
            <div ng-repeat="brother in brothers">
                <brother-image brother-obj="brother"></brother-image>
            </div>
            </div>
        </div>
    </div>
</div>